<!-- Button trigger modal -->

<a class="editbutton" edit="edit" ng-click="open()" data-target="#editModal" ng-show="editAllowed">
Rediger <i class="fa fa-pencil editbutton" aria-hidden="true"></i><br>

</a>


<!-- 
Path: {{path}}</br>
Title: {{edit.title}}</br>
Text: {{edit.text}}</br>

 </br>
-->

<!--


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit</h4>
      </div>
      <div class="modal-body">
      <form>
     	<div class="form-group">
        <label class="form-control-label" for="edit-title">Title</label>
        <input type="text" id="edit-title" ng-model="edit.title" class="form-control">
        </div>
        <div class="form-group">
        <label class="form-control-label" for="edit-text">Text</label>
        <textarea id="edit-text" ng-model="edit.text" type="text" class="form-control"></textarea>
        </form>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="login(credentials)" class="btn btn-warning">Update</button>
      </div>
    </div>
  </div>
</div>-->