<div class="row split-section">
     <div class="col-sm-10  col-sm-offset-1">
	<h2>Meld deg på i dag</h2>
	<p>Fyll ut skjemaet og jeg kontakter deg i løpet av 24 timer</p>
      <form>
	    <div class="form-group row">
	      <label for="name" class="col-sm-2 col-form-label">Fullt navn</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" id="name" placeholder="Fullt navn">
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="email" class="col-sm-2 col-form-label">E-post adresse</label>
	      <div class="col-sm-10">
	        <input type="email" class="form-control" id="email" placeholder="E-post adresse">
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="age" class="col-sm-2 col-form-label">Alder</label>
	      <div class="col-sm-10">
	        <input type="number" class="form-control" id="age" placeholder="Alder">
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="location" class="col-sm-2 col-form-label">Bosted</label>
	      <div class="col-sm-10">
	        <input type="number" class="form-control" id="location" placeholder="Bosted">
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="motivation" class="col-sm-2 col-form-label">Motivasjon på en skala fra 1-10.</label>
	      <div class="col-sm-10">
	        <input type="number" class="form-control" id="motivation" placeholder="Motivasjon på en skala fra 1-10">
	      </div>
	    </div>
	     <div class="form-group row">
	     <div class="col-sm-12">
	      <label for="moreinfo">Hva er ditt mål? Nåværende arbeid/livsstil. Noe du vil dele slik at jeg får en følelse av hvor du starter.</label>
	      <textarea class="form-control" rows="4" id="moreinfo"></textarea>
	      <!--<div class="col-sm-10">
	        <input type="number" class="form-control" id="motivation" placeholder="Motivasjon på en skala fra 1-10">
	      </div>-->
	      </div>
	    </div>
      </form>

    </div>
   </div>