
<slider></slider>

<div class="container">
  <div class="row split-section">

      <div ng-repeat="block in top | toArray | orderBy: 'weight'">
        <div class="col-sm-10  col-sm-offset-1">          
            
          
            <h2>{{block.title}}</h2>
            <p ng-bind-html="block.text"></p>   
            <edit data="block" ></edit>         
        </div>
      </div>
  </div>

  <div class="row split-section">
    <div class="col-sm-10  col-sm-offset-1">
       <new dest="'frontpage/top'"></new>      
    </div>
  </div>
</div>

<div class="container marketing">
  <div class="row split-section">
    <h2 class="row-heading">Velg ditt kostholdsprogram</h2>
    <div class="col-sm-4 center" ng-repeat="package in packageOverview | toArray | orderBy: 'weight'">
      <a ui-sref="package({packagename: package.packagename})"><img src="images/{{package.packagename}}.jpg" class="package-icon"></a>
        <h3><a ui-sref="package({packagename: package.packagename})">{{package.title}}</a></h3>
        <p>{{package.description}}</p>
    </div>


  </div>
  </div>
</div>


<div class="container">
  <div  ng-repeat="block in bottom | toArray | orderBy: 'weight'" class="row split-section">
    <div class="col-sm-12">
  
   
      <h3>{{block.title}}</h3>
      <p ng-bind-html="block.text"></p>
      <edit data="block" ></edit>
    </div>
  </div>
</div>


<div class="container">
  <div class="row split-section">
    <div class="col-sm-12">

<new dest="'frontpage/bottom'"></new>

    </div>
  </div>
</div>




